<a href="https://colab.research.google.com/github/off4321/for_zemi/blob/main/zemi_get_pop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [6]:
df = pd.read_csv("/content/drive/MyDrive/自分用/zemmiyou/卒論/データ/移動人口データ/編集データ(現在)/北海道all.csv")

In [7]:
df.head()

,Column1,時間軸,移動後の住所地（現住地）2020〜 コード,移動後の住所地（現住地）2020〜,総数,0〜9歳,10〜19歳,20〜29歳,30〜39歳,40〜49歳,50〜59歳,60歳以上,不詳/その他,loc,lat,lng
0,1,2021/1/1,1100,札幌市,56986,4636,2556,18984,12759,6342,3978,7731,0,札幌市,43.061771,141.354451
1,2,2021/1/1,1101,札幌市中央区,8566,404,373,3102,1792,973,671,1251,0,札幌市中央区,43.046848,141.322114
2,3,2021/1/1,1102,札幌市北区,7276,791,312,2313,1634,850,496,880,0,札幌市北区,43.144873,141.358562
3,4,2021/1/1,1103,札幌市東区,7579,577,371,2652,1681,832,531,935,0,札幌市東区,43.061771,141.354451
4,5,2021/1/1,1104,札幌市白石区,6968,393,272,2675,1475,772,517,864,0,札幌市白石区,43.062351,141.413278

In [15]:
japan = pd.read_csv("/content/drive/MyDrive/自分用/zemmiyou/卒論/データ/移動人口データ/元データ/日本人口.csv", encoding = "shift_jis")

In [16]:
japan.head()

,時間軸（年次） コード,時間軸（年次）,全国，都道府県，市区町村（2000年市区町村含む） コード,全国，都道府県，市区町村（2000年市区町村含む）,/男女,総数,男,女
0,2020000000,2020年,0,全国,NaN,"126,146,099","61,349,581","64,796,518"
1,2020000000,2020年,1000,北海道,NaN,"5,224,614","2,465,088","2,759,526"
2,2020000000,2020年,1100,札幌市,NaN,"1,973,395","918,682","1,054,713"
3,2020000000,2020年,1101,札幌市中央区,NaN,"248,680","112,853","135,827"
4,2020000000,2020年,1102,札幌市北区,NaN,"289,323","136,596","152,727"

In [17]:
japan["市区町村"] = df["移動後の住所地（現住地）2020〜"]

In [82]:
loc = []
all = []
male = []
female = []

for i in range(df.shape[0]+1):
  if (japan["市区町村"][i] == japan['全国，都道府県，市区町村（2000年市区町村含む）']).any():
    loc.extend(japan["全国，都道府県，市区町村（2000年市区町村含む）"][japan["全国，都道府県，市区町村（2000年市区町村含む）"] == japan["市区町村"][i]])
    all.extend(japan["総数"][japan["全国，都道府県，市区町村（2000年市区町村含む）"] == japan["市区町村"][i]])
    male.extend(japan["男"][japan["全国，都道府県，市区町村（2000年市区町村含む）"] == japan["市区町村"][i]])
    female.extend(japan["女"][japan["全国，都道府県，市区町村（2000年市区町村含む）"] == japan["市区町村"][i]])
  else:
    loc.append("0")
    all.append("0")
    male.append("0")
    female.append("0")

In [83]:
new_df = pd.DataFrame({"市区町村":loc, "総数":all, "男性":male, "女性":female})

In [86]:
new_df_0 = new_df.index[new_df["市区町村"] == "0"]
new_df1 = new_df.drop(new_df_0)

In [69]:
print(new_df1.shape[0])
print(df.shape[0])

589
580

In [88]:
print(new_df1.duplicated(["市区町村"]).sum())
print(new_df1[new_df1["市区町村"].duplicated()])

9
    市区町村      総数      男性      女性
40   伊達市  58,240  28,313  29,927
47   松前町  29,630  13,911  15,719
52    森町  17,457   8,699   8,758
120  日高町   7,673   3,657   4,016
131  清水町  31,710  15,388  16,322
137  池田町   2,423   1,196   1,227
138  池田町   9,382   4,552   4,830
139  池田町  23,360  11,425  11,935
314  府中市  37,655  18,115  19,540

In [89]:
new_df1_dropped = new_df1.drop_duplicates(["市区町村"])

In [91]:
new_df1_dropped = new_df1_dropped.reset_index(drop = True)

In [93]:
new_df1_dropped["確認市区町村"] = df["移動後の住所地（現住地）2020〜"]

In [95]:
new_df1_dropped[new_df1_dropped["確認市区町村"] == new_df1_dropped["市区町村"]].shape[0]

580